<h1>Stupid Coaching</h1>
<div class="blockquote" id="question">
  <p class="mb-0"><%= @question%></p>
  <footer class="blockquote-footer">- You </footer>
</div>
<div class="blockquote" id="answer>
  <p class="mb-0"><strong><%= @answer%></strong></p>
  <footer class="blockquote-footer">- Your coach </footer>
</div>
<p><%= @answer %></p>
<%= link_to 'Ask a new question', 'ask' %>
