<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div id="chatroom" class="rounded">
        <div class="d-flex">
          <img id="logo" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png">
          <h3>Wagon Chat</h3>
        </div>
        <div class="row">
          <div class="col-9">
            <p id="to" class="m-0 ps-1">Stupid Coach</p>
            <div id="messages" class="shadow-sm">
            </div>
          </div>
          <div class="col-3">
            <img src="https://cdn.midjourney.com/6948fc9a-4132-4739-b51d-68f71e1805ff/0_1_384_N.webp" class="profilePic rounded shadow" alt="" />
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-9">
            <form action="#" id="comment-form" class='h-100 shadow-sm'>
              <textarea
              type="text"
              name="content"
              id="your-message"
              class="form-control h-100"
              placeholder="Type your message"
            >
            </textarea>
            </form>
          </div>

          <div class="col-3">
            <img class="profilePic rounded shadow"
              src="https://cdn.midjourney.com/ed6a1404-31d8-4575-a0da-d66e99127d63/0_0.png" alt="" />
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
